:root{
  --accent: #F37515;
  --accent-2: #DB6913;
  --accent-3: #C55F11;

  --black: #1D2024;
  --black-2: #202328;
  --black-3: #23272C;

  --black-disabled: #788594;

  --white: #FFFFFF;
  --white-2: #E6E6E6;
  --white-3: #CFCFCF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
